## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("weather_data/weatherPy_vacation.csv") 
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Saint George,US,99.63,broken clouds,37.1041,-113.5841,Best Western Plus Abbey Inn
1,38,Bikaner,IN,91.76,few clouds,28.0167,73.3000,The Laxmi Niwas Palace
2,48,Lantawan,PH,85.69,overcast clouds,10.6167,123.9833,Durano Ecofarm and Spring Resort
3,52,Mount Isa,AU,91.17,clear sky,-20.7333,139.5000,ibis Styles Mt Isa Verona
4,66,Mecca,SA,87.06,scattered clouds,21.4267,39.8261,"Makkah Clock Royal Tower, A Fairmont Hotel"

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
     <dl>
    <dt>City</dt><dd>{City}</dd>
    <dt>Country</dt><dd>{Country}</dd>
    <dt>Weather Description</dt><dd>{Current Description}</dd>
    <dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
    </dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
input('Ready to identify your vacation itinerary?: Yes or No')
vacation_start = input('What city would you like to start your vacation in?')
vacation_stop = input('What city will you be making your first stop in?')
vacation_stop1 = input('What city will you be making your second stop in?')
vacation_stop2 = input('What city will you be making your third stop in?')
vacation_stop3 = input('What city will you be making your fourth stop in?')

Ready to identify your vacation itinerary?: Yes or No Yes
What city would you like to start your vacation in? Davila
What city will you be making your first stop in? Dicabisagan
What city will you be making your second stop in? Tabuk
What city will you be making your third stop in? San Pedro
What city will you be making your fourth stop in? Pili

In [6]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == vacation_start]
vacation_end = vacation_df.loc[vacation_df['City'] == vacation_stop]
vacation_stop1 = vacation_df.loc[vacation_df['City'] == vacation_stop1]
vacation_stop2 = vacation_df.loc[vacation_df['City'] == vacation_stop2] 
vacation_stop3 = vacation_df.loc[vacation_df['City'] == vacation_stop3]

In [7]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start['Lat'].to_numpy()[0], vacation_start['Lng'].to_numpy()[0]
end = vacation_end['Lat'].to_numpy()[0], vacation_start['Lng'].to_numpy()[0]
stop1 = vacation_stop1['Lat'].to_numpy()[0], vacation_stop1['Lng'].to_numpy()[0]
stop2 = vacation_stop2['Lat'].to_numpy()[0], vacation_stop2['Lng'].to_numpy()[0] 
stop3 =  vacation_stop3['Lat'].to_numpy()[0], vacation_stop3['Lng'].to_numpy()[0]

In [12]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
vacation_itinerary = gmaps.directions_layer(
    start,
    end,
    waypoints = [stop1, stop2, stop3],
    travel_mode = 'DRIVING'
)

fig.add_layer(vacation_itinerary)

fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_end, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,509,Davila,PH,85.57,light rain,18.4726,120.5763,Blue Ridge Beach Resort
1,677,Dicabisagan,PH,88.61,clear sky,17.0818,122.4157,Nancy Montanes Bernardo
2,352,Tabuk,PH,87.87,clear sky,17.4189,121.4443,Golden Berries Hotel and Convention
3,430,San Pedro,PH,88.27,scattered clouds,14.3500,121.0167,Palines Apartment and Guesthouse
4,114,Pili,PH,85.33,overcast clouds,13.5833,123.3000,Moraville Drive-In Hotel

In [14]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
       <dl>
    <dt>City</dt><dd>{City}</dd>
    <dt>Country</dt><dd>{Country}</dd>
    <dt>Weather Description</dt><dd>{Current Description}</dd>
    <dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
    </dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [15]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)

fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))